*{
  box-sizing: border-box;
  margin: 0px;
  line-height: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
}
body{
  background-image: url("handss.jpg");
}
header{
  text-align: center;
  color: white;
  height: calc(100vh - 40px);
  display: none;
}
 .caja {
  float: left;
  height: calc(100vh - 40px);

}
.about{
  background-color: rgb(240, 244, 248);
  width: 33%;
  padding-top: 10%;
  color: black;
  /* height: auto; */
}
.instr{
  background-color: rgba(147, 168, 172, 0.39);
  width: 67%;
  padding-top: 1%;
}
h2{
  text-shadow: black 0.1em 0.1em 0.2em;
}
img{
  height:50%;
  margin: 10%;
}
.btn{
  height: 40px;
  font-size: 15px;
  float: left;
  width: 100%;
  padding: 1%;
  background-color: #93A8AC ;
  text-align: center;
  vertical-align: middle;
  color: black;
  text-decoration: none;
  cursor: pointer;
 }

 h1{
  padding: 15px 0px;
  font-size: 45px;
  background-color: rgba(255, 255, 255, 0.521);
  font-weight: bold;
  float: left;
  width: 100%;
  color:black;
 }
ol{
  width: 98%;
  text-align: justify;
  margin: 15px 2%;
}
header p{
  margin: 15px 10px;
  width: 90%;
}
main{
  margin-left: 10%;
}
.copy{
  color: rgb(80, 70, 80);
  font-size: 20px;
  width: 180px;
  border-radius: 20px;
  background: white ;
  display: block;
  margin: 10px 20%;
}
.copy:hover {
  background-color: #E71D36;
  color: white;
}
section{
  text-align: center;
  color: rgb(18, 18, 19);
  height: calc(100vh - 10px);
}
.number-one{
  float: left;
  width: 100%;
  padding-top: 1%;
  font-size: 25px;
}
#offsetNumber{
  width: 150px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: rgba(59, 58, 59, 0.726);
  border: 2px solid rgb(145, 142, 142) ;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.521);
}
.text-box{
  display: inline-block;
  width:40%;
  text-align: justify;
}

.text{
  font-size: 17px;
}

textarea{
  width: 80%;
  height: 100px;
  border: 2px solid rgb(145, 142, 142) ;
  color: rgb(51, 48, 48);
  padding: 10px;
  display: inline-block;
  border-radius: 15px;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.521);
}


.reset{
  float: center;
  height: 35px;
  width: 140px;
  font-size: 20px;
  background-color:#93A8AC;
  color: white;
  margin: 1% 0px;
}

.reset:hover {
   background: rgb(241, 236, 241);
  color: rgb(80, 70, 80);
}
::placeholder{
  color: rgba(59, 58, 59, 0.726);
  padding: 10px;
  text-align: justify;
}


@media screen and (min-width: 320px) and (max-width: 630px){
   .caja{
    width: 100%;
    height: auto;
    padding: 0 ;
  }
  body{
    background-image: url("hands.jpg");
  }
  textarea{
    width: 100%;
    height: 120px;
  }
  
  .text-box{
    float:left;
    width: 80%;
  } 
  h1{
    font-size: 230%;
    padding:10px 0px;

  }
}

@media screen and (min-width: 631px) {
   .oneb{
    float:left;
    width: 40%;
  }
  .twob{
    width: 40%;
  }
  textarea{
    height:180px;
  }
  .instr{
    padding-top: 5%;
    line-height:1em;
    font-size: 1em;
  }
  .about{
    line-height:1em;
  }
}
@media screen and (min-width: 1400px){
  *{
    line-height: 2em;
  }
  textarea{
    height: 230px;
  }
  .about{
    padding-top: 15%;
    font-size: 1.5em;
  }
  .instr{
    padding-top: 8%;
    font-size: 1.5em;
  }
}

